.RmY b{color:#800020}
.RmY b i, .RmY i b{font-weight:normal;color:black}
.tHO{clear:both;margin-top:0.3em}
.UOk{clear:both}
.TA7, .YcA{padding:0 1.5em;margin:0.3em 0;font-family:Arial}
.TA7{color:navy}
.YcA{color:dimgray}
.odM{height:1px;border:none;border-top:1px gray dashed}
.myY{font-style:italic;font-family:'Georgia','Times New Roman','Times','serif'}
.FRe{}
.m95{float:left;clear:left;overflow:hidden;width:1em;padding-right:5px;color:dimgray;font-family:Helvetica;font-weight:bold;text-align:right}
.Un2{margin-left:1.3em}
.Xzi{margin-top:0.3em}
.mB1{display:inline-block;font-weight:bold;background-color:darkgoldenrod;color:white;font-family:Helvetica;font-size:80%;padding:0 5px;margin-top:0.3em}
.h63{font-weight:bold;color:sienna;font-family:'Trebuchet MS';font-size:90%}
.SCA{color:blue;font-size:120%;font-weight:bold;margin-bottom:0.6em}
.Ewg{color:gray;font-family:'Georgia','Times New Roman','Times','serif'}
.RmY{font-family:"Lucida Grande","Lucida Sans Unicode"}
.RmY i{font-family:'Georgia','Times New Roman','Times','serif'}
.RmY a b, .RmY a:link{color:royalblue;font-weight:bold;text-decoration:none}
.RmY a i{font-weight:normal}
.x0h{font-family:'Times','Georgia'}
.ZFY{text-indent:1em}
.oH1{}
.xsv{color:#006666;text-align:center;font-size:120%;font-weight:bold;margin-bottom:0.6em}
